{% extends 'main_app\base_page.html' %}

{% block title %}
Search
{% endblock %}


{% block body %}

{% block p1 %}
{% if search_form %}

<form method="GET">
    {{ search_form.brand.label }} {{ search_form.brand }}<br>
    {{ search_form.name.label }} {{ search_form.name }}<br>
    {{ search_form.currency.label }} {{ search_form.currency }}<br>
    {{ search_form.min_price.label }} {{ search_form.min_price }}<br>
    {{ search_form.max_price.label }} {{ search_form.max_price }}<br>
    {{ search_form.country.label }} {{ search_form.country }}<br>
    <input type="submit" name="search_submit" value="Search">
</form>

{% if brand_stats %}
<br>
Most popular brands:
{% for stat in brand_stats %}
<li>
    {{ stat.0 }} has been searched {{ stat.1 }} times<br>
</li>
{% endfor %}
{% endif %}

{% endif %}
{% endblock p1 %}


{% block p2 %}
{% if qitems %}

Here's what we found:
<ul>
    {% for item in qitems %}
    <li>
        <b>{{ item.0 }}</b> ---- {% for price in item.1 %} {{ price }} | {% endfor %}<br>
        Website - {{ item.0.website.name }} ---- <a href="{{ item.0.link }}"> link </a><br>
    </li>
    {% endfor %}
</ul>

{% endif %}
{% endblock p2 %}


{% block p3 %}
{% if no_items %}
Sorry, couldn't find anything :(
Try searching a couple hours later
{% endif %}
{% endblock p3 %}


{% endblock body %}